In [243]:
import numpy as np
import pandas as pd
from numpy.linalg import inv
import FinanceDataReader as fdr

In [244]:
from pykrx import stock
from pykrx import bond

In [245]:
import pandas as pd
import FinanceDataReader as fdr

# KRX 상장종목 파일 다운로드 링크
url = 'http://kind.krx.co.kr/corpgeneral/corpList.do?method=download&searchType=13'

# 데이터를 다운로드하여 파일로 저장
df_krx = pd.read_html(url, header=0, encoding='euc-kr')[0]
df_krx.to_csv('krx_stock_list.csv', index=False, encoding='utf-8')

# 저장한 파일을 이용하여 데이터프레임 생성
df_krx = pd.read_csv('krx_stock_list.csv', encoding='utf-8')

# 데이터프레임 출력
df_krx.head()

c:\Users\OPERATOR-70\AppData\Local\Programs\Python\Python39\lib\site-packages\bs4\__init__.py:228: UserWarning: You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.
  warnings.warn("You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.")

,회사명,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
0,AJ네트웍스,95570,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,손삼달,http://www.ajnet.co.kr,서울특별시
1,BGF리테일,282330,종합 소매업,체인화 편의점,2017-12-08,12월,민승배,http://www.bgfretail.com,서울특별시
2,BNK금융지주,138930,기타 금융업,금융지주회사,2011-03-30,12월,빈대인,http://www.bnkfg.com,부산광역시
3,DSR,155660,1차 비철금속 제조업,합섬섬유로프,2013-05-15,12월,홍석빈,http://www.dsr.com,부산광역시
4,HDC현대산업개발,294870,건물 건설업,"외주주택, 자체공사, 일반건축, 토목 등",2018-06-12,12월,"최익훈, 정익희, 김회언 (각자 대표이사)",http://www.hdc-dvp.com,서울특별시

In [246]:
df = stock.get_index_ohlcv("19800101", "20231130", "1018")
df.head()

건설업          시가   고가   저가      종가     거래량       거래대금  상장시가총액
날짜
1980-01-04  0.0  0.0  0.0  100.00   14900   80500000       0
1980-01-05  0.0  0.0  0.0  100.12   20800   98600000       0
1980-01-07  0.0  0.0  0.0  101.15   77800  373500000       0
1980-01-08  0.0  0.0  0.0  101.74  154800  877600000       0
1980-01-09  0.0  0.0  0.0  101.78  137300  855100000       0

In [247]:
df = stock.get_index_ohlcv("19800101", "19800110", "1018")
df.head()

건설업          시가   고가   저가      종가     거래량       거래대금  상장시가총액
날짜
1980-01-04  0.0  0.0  0.0  100.00   14900   80500000       0
1980-01-05  0.0  0.0  0.0  100.12   20800   98600000       0
1980-01-07  0.0  0.0  0.0  101.15   77800  373500000       0
1980-01-08  0.0  0.0  0.0  101.74  154800  877600000       0
1980-01-09  0.0  0.0  0.0  101.78  137300  855100000       0

### 1008 화학
### 1009 의약품
### 1011 철강금속
### 1012 기계
### 1013 전기전자
### 1015 운수장비
### 1016 유통업
### 1020 통신업
### 1021 금융업
### 1026 서비스업

### 1150 코스피 200 커뮤니케이션서비스
### 1151 코스피 200 건설
### 1152 코스피 200 중공업
### 1153 코스피 200 철강/소재
### 1154 코스피 200 에너지/화학
### 1155 코스피 200 정보기술
### 1156 코스피 200 금융
### 1157 코스피 200 생활소비재
### 1158 코스피 200 경기소비재
### 1159 코스피 200 산업재
### 1160 코스피 200 헬스케어

In [248]:
df_커뮤니케이션서비스 = stock.get_index_ohlcv("20000101", "20231130", "1150")
df_커뮤니케이션서비스=df_커뮤니케이션서비스[df_커뮤니케이션서비스["상장시가총액"]!=0]

In [249]:
df_커뮤니케이션서비스

코스피 200 커뮤니케이션서비스,시가,고가,저가,종가,거래량,거래대금,상장시가총액
날짜,,,,,,,
2018-10-22,1605.50,1626.59,1600.79,1623.48,3866060,207174507000,92804225198700
2018-10-23,1615.96,1620.41,1589.95,1599.81,3968595,278963946885,91340924499250
2018-10-24,1608.58,1618.04,1572.02,1582.44,5019680,352525798896,90474468506700
2018-10-25,1550.56,1565.93,1534.37,1563.00,6893502,550956307651,88985041645050
2018-10-26,1559.45,1559.45,1488.63,1504.81,6283872,497290625313,85626669986600
...,...,...,...,...,...,...,...
2023-11-24,1751.87,1758.07,1740.66,1747.61,3453523,257371078460,111860030957800
2023-11-27,1756.60,1780.90,1747.44,1764.15,4609989,391852738674,112701674864700
2023-11-28,1773.98,1782.25,1760.30,1777.99,4919869,360120007338,113679578428970
2023-11-29,1770.43,1783.22,1761.68,1769.48,4685979,336834489790,113165373976910
2023-11-30,1764.93,1772.86,1754.01,1770.94,13185648,805865420910,113273011660850

In [250]:
df_건설업 = stock.get_index_ohlcv("20000101", "20231130", "1151")
df_건설업

코스피 200 건설,시가,고가,저가,종가,거래량,거래대금,상장시가총액
날짜,,,,,,,
2008-01-02,0.00,0.00,0.00,1000.00,6160518,438739257900,64867809710200
2008-01-03,0.00,0.00,0.00,1013.72,4478511,349900421400,65801718978900
2008-01-04,0.00,0.00,0.00,1061.13,6579002,521858934250,68761563955000
2008-01-07,0.00,0.00,0.00,1048.71,4839852,412847539850,68158758161800
2008-01-08,0.00,0.00,0.00,1040.18,6302017,512098015225,67126318082100
...,...,...,...,...,...,...,...
2023-11-24,318.45,319.63,317.08,318.27,3851132,62611121295,21984080570760
2023-11-27,319.27,321.42,318.19,320.08,2821732,49847640360,22103466653410
2023-11-28,320.83,321.65,318.74,321.22,3442123,58594233550,22181583006050
2023-11-29,320.33,321.40,311.82,312.54,5173887,93479335482,21593790457110
2023-11-30,312.68,315.87,311.82,315.87,5634959,91025844905,21818496196710

In [251]:
df_중공업 = stock.get_index_ohlcv("20000101", "20231130", "1152")
df_중공업

코스피 200 중공업,시가,고가,저가,종가,거래량,거래대금,상장시가총액
날짜,,,,,,,
2008-01-02,0.00,0.00,0.00,1000.00,4896252,342090071350,77496180409600
2008-01-03,0.00,0.00,0.00,1000.49,4177090,359265632550,77162570138750
2008-01-04,0.00,0.00,0.00,1002.67,5406195,376214150750,77791377889050
2008-01-07,0.00,0.00,0.00,978.36,6282725,430910178400,75744433670600
2008-01-08,0.00,0.00,0.00,961.78,6851394,446521332650,74299996571150
...,...,...,...,...,...,...,...
2023-11-24,313.44,314.19,307.44,307.73,19413372,386222642736,56453576158630
2023-11-27,309.62,313.08,306.98,312.96,11855069,246210236313,57516892051750
2023-11-28,314.74,322.38,312.88,319.57,23677103,457271968115,61027884304560
2023-11-29,320.01,321.73,315.44,317.87,16368645,345294327610,60877681842970
2023-11-30,317.26,324.95,315.10,324.95,15955756,324223382606,62303724249980

In [252]:
df_철강 = stock.get_index_ohlcv("20000101", "20231130", "1153")
df_철강

코스피 200 철강/소재,시가,고가,저가,종가,거래량,거래대금,상장시가총액
날짜,,,,,,,
2008-01-02,0.00,0.00,0.00,1000.00,5682968,286059300700,72367230860620
2008-01-03,0.00,0.00,0.00,1011.58,3618705,307716782550,72222500317090
2008-01-04,0.00,0.00,0.00,1024.98,3739264,276171078930,73245350184980
2008-01-07,0.00,0.00,0.00,1006.35,4172108,307677545670,71437055158070
2008-01-08,0.00,0.00,0.00,987.27,4270929,353120452410,70519040742540
...,...,...,...,...,...,...,...
2023-11-24,894.73,898.69,892.76,893.97,1048669,198946503010,59574052196740
2023-11-27,895.36,896.64,883.97,888.63,1062174,177383411640,59132578527550
2023-11-28,890.52,896.74,885.81,896.74,1330860,224811351060,60105986912700
2023-11-29,893.93,897.33,885.81,892.09,1251748,283421237590,60360137440550
2023-11-30,891.20,899.36,887.87,899.36,2998132,329098670030,60485495285350

In [253]:
df_에너지화학 = stock.get_index_ohlcv("20000101", "20231130", "1154")
df_에너지화학

코스피 200 에너지/화학,시가,고가,저가,종가,거래량,거래대금,상장시가총액
날짜,,,,,,,
2008-01-02,0.00,0.00,0.00,1000.00,6347989,353779185840,81865084716240
2008-01-03,0.00,0.00,0.00,978.86,7369711,433066059660,80470720914500
2008-01-04,0.00,0.00,0.00,980.43,9879267,580461821820,80682228138160
2008-01-07,0.00,0.00,0.00,954.40,8209449,535014277480,78686499155480
2008-01-08,0.00,0.00,0.00,980.57,9217777,523067070290,80615557827420
...,...,...,...,...,...,...,...
2023-11-24,1390.61,1400.47,1383.54,1384.22,3473920,411068034890,133547043987000
2023-11-27,1387.27,1393.94,1378.26,1382.68,3423536,339475140552,133229273207740
2023-11-28,1389.37,1402.90,1386.90,1390.42,5593069,571820643463,133884454745510
2023-11-29,1393.04,1395.39,1373.26,1386.69,5465914,586559463763,133553009850070
2023-11-30,1380.26,1396.11,1377.54,1393.91,11808221,1154552483400,133930105108930

In [254]:
df_정보기술 = stock.get_index_ohlcv("20000101", "20231130", "1155")
df_정보기술

코스피 200 정보기술,시가,고가,저가,종가,거래량,거래대금,상장시가총액
날짜,,,,,,,
2008-01-02,0.00,0.00,0.00,1000.00,14437810,643512207670,155270303538030
2008-01-03,0.00,0.00,0.00,1002.38,12488867,593473188390,155758920176820
2008-01-04,0.00,0.00,0.00,1010.12,18805489,826675703170,155960273764550
2008-01-07,0.00,0.00,0.00,984.68,23487834,1081208757075,151468270873200
2008-01-08,0.00,0.00,0.00,987.68,15080126,755462154135,151525630542530
...,...,...,...,...,...,...,...
2023-11-24,3189.00,3195.12,3147.01,3147.04,12412817,1031483550245,626867749260700
2023-11-27,3156.51,3179.48,3148.07,3158.72,15267316,1285965043238,626076141212450
2023-11-28,3178.66,3198.08,3169.13,3194.90,20321156,1757625656200,636004687608700
2023-11-29,3184.92,3208.81,3161.67,3203.11,16148416,1371877689350,636620703314550
2023-11-30,3196.49,3239.83,3192.47,3239.83,27713146,2317728885278,640509398548000

In [255]:
df_금융 = stock.get_index_ohlcv("20000101", "20231130", "1156")
df_금융

코스피 200 금융,시가,고가,저가,종가,거래량,거래대금,상장시가총액
날짜,,,,,,,
2008-01-02,0.00,0.00,0.00,1000.00,21474721,716746189950,131543991463000
2008-01-03,0.00,0.00,0.00,988.27,22160171,770449117300,130345237626350
2008-01-04,0.00,0.00,0.00,980.25,32136969,1071160216350,129678702231400
2008-01-07,0.00,0.00,0.00,970.63,24851921,808293289360,128425222557500
2008-01-08,0.00,0.00,0.00,958.58,31703147,1057240952636,127245633023900
...,...,...,...,...,...,...,...
2023-11-24,649.36,650.26,643.12,643.52,6422551,178839205070,165165817043300
2023-11-27,643.09,645.93,639.86,642.20,8638302,246606892122,165059856942180
2023-11-28,641.88,647.97,638.23,647.15,11862884,325331641228,166259290776500
2023-11-29,642.44,643.41,637.33,638.06,10636921,259095261646,163930686843070
2023-11-30,636.74,645.55,634.87,645.55,20434470,511177539738,165852052823730

In [256]:
df_생활소비재 = stock.get_index_ohlcv("20000101", "20231130", "1157")
df_생활소비재

코스피 200 생활소비재,시가,고가,저가,종가,거래량,거래대금,상장시가총액
날짜,,,,,,,
2008-01-02,0.00,0.00,0.00,1000.00,8508022,548467519055,125815519463135
2008-01-03,0.00,0.00,0.00,999.01,6141675,423304391535,125686841575450
2008-01-04,0.00,0.00,0.00,1005.04,7861572,447902389293,126675317584190
2008-01-07,0.00,0.00,0.00,992.02,7000535,403735751430,125183308389490
2008-01-08,0.00,0.00,0.00,995.38,6672671,400116886713,125586090580660
...,...,...,...,...,...,...,...
2023-11-24,803.52,804.86,799.67,800.07,3341238,160704516897,79957013331460
2023-11-27,803.71,809.37,802.61,806.61,3791406,179328046154,80575310074050
2023-11-28,808.12,808.65,801.25,801.65,3187066,173220832370,80053736043700
2023-11-29,800.16,800.84,788.04,788.66,3622329,214945809182,78788606042240
2023-11-30,785.14,790.85,784.35,786.79,5580370,441097025409,78618454449230

In [257]:
df_경기소비재 = stock.get_index_ohlcv("20000101", "20231130", "1158")
df_경기소비재

코스피 200 경기소비재,시가,고가,저가,종가,거래량,거래대금,상장시가총액
날짜,,,,,,,
2008-01-02,0.00,0.00,0.00,1000.00,11547911,434189484410,83891523567290
2008-01-03,0.00,0.00,0.00,1009.27,9687901,327829082820,84600458540350
2008-01-04,0.00,0.00,0.00,1007.09,9836989,299138682065,84380566525760
2008-01-07,0.00,0.00,0.00,991.26,9570451,346957134050,83244360723980
2008-01-08,0.00,0.00,0.00,994.28,11084944,291300545915,83448962202510
...,...,...,...,...,...,...,...
2023-11-24,1477.65,1484.10,1472.66,1476.66,4382127,184611984909,145402554685270
2023-11-27,1481.37,1486.81,1471.14,1478.02,4962218,203429302061,145592297797830
2023-11-28,1486.87,1486.87,1471.91,1483.37,6058601,273078958269,146058503866900
2023-11-29,1477.60,1484.97,1467.35,1474.40,7108311,341217294883,145427893060040
2023-11-30,1468.02,1479.11,1457.77,1472.67,9818371,530087556040,145308811386990

In [258]:
df_산업재 = stock.get_index_ohlcv("20000101", "20231130", "1159")
df_산업재

코스피 200 산업재,시가,고가,저가,종가,거래량,거래대금,상장시가총액
날짜,,,,,,,
2010-07-01,0.00,0.00,0.00,1000.00,0,0,0
2010-07-02,0.00,0.00,0.00,981.05,0,0,0
2010-07-05,0.00,0.00,0.00,971.79,0,0,0
2010-07-06,0.00,0.00,0.00,965.48,0,0,0
2010-07-07,0.00,0.00,0.00,953.15,0,0,0
...,...,...,...,...,...,...,...
2023-11-24,596.18,598.43,587.73,588.27,12672300,580425221325,223501167420280
2023-11-27,591.05,591.48,582.50,584.40,13898423,496680422975,220942649893670
2023-11-28,588.40,591.24,586.63,589.42,13467401,463857508590,222302914297200
2023-11-29,591.29,597.76,585.10,596.82,12493458,805140829325,226837297801480
2023-11-30,593.41,601.29,592.19,601.29,52759159,1115231808175,229017709562410

In [259]:
df_산업재=df_산업재[df_산업재["상장시가총액"]!=0]
df_산업재

코스피 200 산업재,시가,고가,저가,종가,거래량,거래대금,상장시가총액
날짜,,,,,,,
2015-07-13,828.46,849.12,825.66,847.15,4196491,212301054560,50658401557620
2015-07-14,849.54,852.90,842.55,847.43,5264102,237938862680,50564233593210
2015-07-15,849.79,856.35,846.89,848.34,4912476,210597316520,50569246191790
2015-07-16,849.01,858.72,846.91,854.48,15462770,680621964340,50754533254530
2015-07-17,863.83,864.37,816.72,818.52,20382496,1207380291980,48702604150600
...,...,...,...,...,...,...,...
2023-11-24,596.18,598.43,587.73,588.27,12672300,580425221325,223501167420280
2023-11-27,591.05,591.48,582.50,584.40,13898423,496680422975,220942649893670
2023-11-28,588.40,591.24,586.63,589.42,13467401,463857508590,222302914297200
2023-11-29,591.29,597.76,585.10,596.82,12493458,805140829325,226837297801480
2023-11-30,593.41,601.29,592.19,601.29,52759159,1115231808175,229017709562410

In [260]:
df_헬스케어 = stock.get_index_ohlcv("20000101", "20231130", "1160")

In [261]:
df_헬스케어=df_헬스케어[df_헬스케어["상장시가총액"]!=0]
df_헬스케어

코스피 200 헬스케어,시가,고가,저가,종가,거래량,거래대금,상장시가총액
날짜,,,,,,,
2015-07-13,2242.79,2307.68,2209.02,2306.69,30335240,405228324805,21799581497100
2015-07-14,2336.97,2385.25,2295.88,2377.98,15212357,321422885970,22432116027450
2015-07-15,2398.76,2452.96,2379.68,2387.99,43448647,457723945660,22536032164350
2015-07-16,2371.25,2374.46,2315.86,2319.30,37949556,348484145040,21873595792100
2015-07-17,2339.24,2351.24,2295.28,2336.36,19754629,285950396845,22057312517700
...,...,...,...,...,...,...,...
2023-11-24,1737.99,1739.63,1705.01,1708.46,2594544,210481552030,108679326728260
2023-11-27,1708.33,1713.72,1683.53,1696.49,2649098,202050273950,107511680934500
2023-11-28,1701.96,1725.70,1701.17,1722.36,3578477,253214857630,109914584695900
2023-11-29,1726.37,1727.90,1686.14,1689.10,5801996,321361409310,108780605171550
2023-11-30,1689.54,1696.92,1681.05,1692.90,3635516,248391301550,108777640167280

In [262]:
df = stock.get_index_ohlcv("20000101", "20231130", "1018")
df.head()

건설업             시가      고가      저가      종가       거래량         거래대금  상장시가총액
날짜
2000-01-04  106.86  120.39  106.66  117.94  13735720  71576000000       0
2000-01-05  116.40  116.76  111.96  114.48  12911050  68672000000       0
2000-01-06  116.31  116.67  106.77  107.22   9759460  46432000000       0
2000-01-07  107.76  109.78  107.34  107.69  11308620  46702000000       0
2000-01-10  110.55  110.98  108.17  108.39   9562790  47043000000       0

In [263]:

df_all = pd.concat([df_커뮤니케이션서비스["종가"],df_건설업["종가"],df_중공업["종가"],df_철강["종가"],df_에너지화학["종가"],
                    df_금융["종가"],df_생활소비재["종가"],df_경기소비재["종가"],df_정보기술["종가"],
                    df_산업재["종가"],df_헬스케어["종가"]],axis=1)
df_all

,종가,종가,종가,종가,종가,종가,종가,종가,종가,종가,종가
날짜,,,,,,,,,,,
2008-01-02,NaN,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,NaN,NaN
2008-01-03,NaN,1013.72,1000.49,1011.58,978.86,988.27,999.01,1009.27,1002.38,NaN,NaN
2008-01-04,NaN,1061.13,1002.67,1024.98,980.43,980.25,1005.04,1007.09,1010.12,NaN,NaN
2008-01-07,NaN,1048.71,978.36,1006.35,954.40,970.63,992.02,991.26,984.68,NaN,NaN
2008-01-08,NaN,1040.18,961.78,987.27,980.57,958.58,995.38,994.28,987.68,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2023-11-24,1747.61,318.27,307.73,893.97,1384.22,643.52,800.07,1476.66,3147.04,588.27,1708.46
2023-11-27,1764.15,320.08,312.96,888.63,1382.68,642.20,806.61,1478.02,3158.72,584.40,1696.49
2023-11-28,1777.99,321.22,319.57,896.74,1390.42,647.15,801.65,1483.37,3194.90,589.42,1722.36
2023-11-29,1769.48,312.54,317.87,892.09,1386.69,638.06,788.66,1474.40,3203.11,596.82,1689.10
2023-11-30,1770.94,315.87,324.95,899.36,1393.91,645.55,786.79,1472.67,3239.83,601.29,1692.90

In [264]:
df_시총 = pd.concat([df_커뮤니케이션서비스["상장시가총액"],df_건설업["상장시가총액"],df_중공업["상장시가총액"],df_철강["상장시가총액"],
                df_에너지화학["상장시가총액"],df_금융["상장시가총액"],df_생활소비재["상장시가총액"],
                df_경기소비재["상장시가총액"],df_정보기술["상장시가총액"],
                    df_산업재["상장시가총액"],df_헬스케어["상장시가총액"]],axis=1)
df_시총

,상장시가총액,상장시가총액,상장시가총액,상장시가총액,상장시가총액,상장시가총액,상장시가총액,상장시가총액,상장시가총액,상장시가총액,상장시가총액
날짜,,,,,,,,,,,
2008-01-02,NaN,64867809710200,77496180409600,72367230860620,81865084716240,131543991463000,125815519463135,83891523567290,155270303538030,NaN,NaN
2008-01-03,NaN,65801718978900,77162570138750,72222500317090,80470720914500,130345237626350,125686841575450,84600458540350,155758920176820,NaN,NaN
2008-01-04,NaN,68761563955000,77791377889050,73245350184980,80682228138160,129678702231400,126675317584190,84380566525760,155960273764550,NaN,NaN
2008-01-07,NaN,68158758161800,75744433670600,71437055158070,78686499155480,128425222557500,125183308389490,83244360723980,151468270873200,NaN,NaN
2008-01-08,NaN,67126318082100,74299996571150,70519040742540,80615557827420,127245633023900,125586090580660,83448962202510,151525630542530,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2023-11-24,1.118600e+14,21984080570760,56453576158630,59574052196740,133547043987000,165165817043300,79957013331460,145402554685270,626867749260700,2.235012e+14,1.086793e+14
2023-11-27,1.127017e+14,22103466653410,57516892051750,59132578527550,133229273207740,165059856942180,80575310074050,145592297797830,626076141212450,2.209426e+14,1.075117e+14
2023-11-28,1.136796e+14,22181583006050,61027884304560,60105986912700,133884454745510,166259290776500,80053736043700,146058503866900,636004687608700,2.223029e+14,1.099146e+14
2023-11-29,1.131654e+14,21593790457110,60877681842970,60360137440550,133553009850070,163930686843070,78788606042240,145427893060040,636620703314550,2.268373e+14,1.087806e+14
2023-11-30,1.132730e+14,21818496196710,62303724249980,60485495285350,133930105108930,165852052823730,78618454449230,145308811386990,640509398548000,2.290177e+14,1.087776e+14

In [265]:
df_시총.columns = ["커뮤니케이션서비스","건설업","중공업","철강소재","에너지화학","금융","생활소비재","경기소비재","정보기술",
                    "산업재","헬스케어"]

In [266]:
# 마지막날 기준 비중 구하기
a = df_시총.iloc[-1].sum()
wheigt =  df_시총.iloc[-1]/a
wheigt

커뮤니케이션서비스    0.064364
건설업          0.012398
중공업          0.035402
철강소재         0.034369
에너지화학        0.076101
금융           0.094240
생활소비재        0.044672
경기소비재        0.082567
정보기술         0.363948
산업재          0.130131
헬스케어         0.061809
Name: 2023-11-30 00:00:00, dtype: float64

In [267]:
df_all.columns = ["커뮤니케이션서비스","건설업","중공업","철강소재","에너지화학","금융","생활소비재","경기소비재","정보기술",
                    "산업재","헬스케어"]

In [268]:
# 데이터 수익률 구하기
df_all = df_all.pct_change()
df_all.dropna(inplace=True)
df_all

,커뮤니케이션서비스,건설업,중공업,철강소재,에너지화학,금융,생활소비재,경기소비재,정보기술,산업재,헬스케어
날짜,,,,,,,,,,,
2018-10-23,-0.014580,-0.022513,-0.031353,-0.018224,-0.030649,-0.024004,-0.024118,-0.029322,-0.023444,-0.025299,-0.057464
2018-10-24,-0.010858,-0.019143,-0.019044,0.006067,0.012090,0.020097,0.005403,0.010098,-0.018548,0.012967,-0.019572
2018-10-25,-0.012285,-0.009740,-0.003293,-0.006686,0.011485,-0.017898,0.004959,-0.034423,-0.024595,-0.005266,-0.007962
2018-10-26,-0.037230,-0.043153,-0.036168,-0.025539,-0.035416,-0.005850,-0.028180,-0.008137,-0.016268,-0.024166,-0.041396
2018-10-29,-0.020255,-0.021594,-0.014567,-0.018637,-0.008043,0.001886,-0.021385,-0.025712,-0.013631,-0.027256,-0.034299
...,...,...,...,...,...,...,...,...,...,...,...
2023-11-24,-0.002181,0.000943,-0.021837,0.002557,-0.002529,-0.007848,-0.003487,-0.002580,-0.011192,-0.010330,-0.016317
2023-11-27,0.009464,0.005687,0.016995,-0.005973,-0.001113,-0.002051,0.008174,0.000921,0.003711,-0.006579,-0.007006
2023-11-28,0.007845,0.003562,0.021121,0.009126,0.005598,0.007708,-0.006149,0.003620,0.011454,0.008590,0.015249
2023-11-29,-0.004786,-0.027022,-0.005320,-0.005185,-0.002683,-0.014046,-0.016204,-0.006047,0.002570,0.012555,-0.019311
2023-11-30,0.000825,0.010655,0.022273,0.008149,0.005207,0.011739,-0.002371,-0.001173,0.011464,0.007490,0.002250

In [269]:
df_all.to_csv("./초과수익률 데이터.csv")
wheigt.to_csv("./비중데이터.csv")

isk Aversion Coefficient
Reverse optimization process에서, 투자자가 낮은 변동성을 위하여 trade-off 할 수 있는 수익률 수준을 나타내는 상수로써, 일종의 scaling factor 역할을 합니다. 즉, 
가 클수록, implied returns (
) 값이 커지게 됩니다. 값을 설정하는 방법은 자료에 따라 상이하지만, 얼추 다음과 같이 정리할 수 있습니다.

방법 1 : 2.15 ~ 2.65 사이의 값 (BLM 관련 연구자료들의 추천 결과 값)

방법 2 : (시가총액가중 포트폴리오의 평균 초과수익률 / 분산)

본 포스팅에서는 두 번째 방법을 사용하도록 하겠습니다.

In [270]:
sigma = df_all.cov()
sigma

,커뮤니케이션서비스,건설업,중공업,철강소재,에너지화학,금융,생활소비재,경기소비재,정보기술,산업재,헬스케어
커뮤니케이션서비스,0.000211,0.000115,0.000110,0.000097,0.000134,0.000098,0.000085,0.000107,0.000137,0.000102,0.000121
건설업,0.000115,0.000329,0.000272,0.000240,0.000232,0.000178,0.000116,0.000177,0.000168,0.000195,0.000141
중공업,0.000110,0.000272,0.000405,0.000248,0.000229,0.000185,0.000124,0.000184,0.000165,0.000216,0.000136
철강소재,0.000097,0.000240,0.000248,0.000340,0.000221,0.000186,0.000112,0.000175,0.000162,0.000195,0.000119
에너지화학,0.000134,0.000232,0.000229,0.000221,0.000323,0.000169,0.000107,0.000174,0.000205,0.000195,0.000154
금융,0.000098,0.000178,0.000185,0.000186,0.000169,0.000251,0.000104,0.000156,0.000136,0.000150,0.000093
생활소비재,0.000085,0.000116,0.000124,0.000112,0.000107,0.000104,0.000127,0.000107,0.000093,0.000105,0.000091
경기소비재,0.000107,0.000177,0.000184,0.000175,0.000174,0.000156,0.000107,0.000243,0.000155,0.000159,0.000111
정보기술,0.000137,0.000168,0.000165,0.000162,0.000205,0.000136,0.000093,0.000155,0.000247,0.000147,0.000135
산업재,0.000102,0.000195,0.000216,0.000195,0.000195,0.000150,0.000105,0.000159,0.000147,0.000222,0.000117
헬스케어,0.000121,0.000141,0.000136,0.000119,0.000154,0.000093,0.000091,0.000111,0.000135,0.000117,0.000319

In [271]:
expected_portfolio_excess_return = df_all.mean().multiply(wheigt).sum()
portfolio_variance = wheigt.T.dot(sigma).dot(wheigt)
lambd = expected_portfolio_excess_return / portfolio_variance
lambd

1.6043880940457593

 : Implied Excess Equilibrium Return Vector
 
위에서 계산한 를 사용하여, 현 시장에서 관측되는 시가총액비중 기반 equilibrium return vector를 다음과 같이 계산합니다.

In [272]:
Pi = lambd * sigma.dot(wheigt)
Pi

커뮤니케이션서비스    0.000201
건설업          0.000287
중공업          0.000297
철강소재         0.000281
에너지화학        0.000315
금융           0.000241
생활소비재        0.000162
경기소비재        0.000254
정보기술         0.000297
산업재          0.000257
헬스케어         0.000219
dtype: float64

In [273]:
wheigt

커뮤니케이션서비스    0.064364
건설업          0.012398
중공업          0.035402
철강소재         0.034369
에너지화학        0.076101
금융           0.094240
생활소비재        0.044672
경기소비재        0.082567
정보기술         0.363948
산업재          0.130131
헬스케어         0.061809
Name: 2023-11-30 00:00:00, dtype: float64

Black-Litterman Model에서는 투자자가 가지고 있는 정보를 “View”라고 정의합니다. (한글로 해석하면 ‘전망’ 정도 될 것 같습니다.)

이번 예시에서는, 투자자에게 다음과 같은 세 가지의 view가 있다고 가정해봅시다.

View 1 : 건설업 섹터의 초과 수익률이 2%가 될 것이다. (Confidence level = 75%)

View 2 : 산업재 섹터의 수익률이 헬스케어 섹터의 수익률보다 3% 높을 것이다. (Confidence level = 25%)

View 3 : 에너지 섹터의 수익률이 경기소비재, 생활소비재 섹터 수익률보다 1% 높을 것이다. (Confidence level = 50%)

여기서 view 1은 “absolute view”, view 2~3은 “relative view”라고 합니다. Relative view는 outperforming 하는 자산(통신서비스, 에너지)과 underperforming 하는 자산(유틸리티, 경기소비재, 필수소비재)을 포함합니다. 예시의 view 3에서와 같이, outperforming 하는 자산의 수와 underperforming하는 자산의 수가 반드시 동일해야 할 필요는 없습니다.

In [274]:
K = 3

각 view들의 예상 수치(예상 절대/상대수익률)를 포함하는, 
x
 column matrix 입니다. 이번 예시에서의 view vector는 다음과 같습니다.

In [275]:
Q = np.array([0.02, 0.03, 0.01])
assert Q.shape == (K,)

첫 번째 행은 첫 번째 view를 나타낸 행으로, 데이터 순서 상 8번 째 자산인 IT섹터를 1로 표시합니다. Absolute view의 경우에는 이와 같이 하나의 column만 1이 되는 row의 형태로 나타납니다.

두 번째와 세 번째 행은, 각각 두 번째와 세 번째 view를 나타냅니다. Outperforming 할 것으로 예상되는 자산은 양수로, underperforming 할 것으로 예상되는 자산은 음수로 표시하여, row의 총 합이 0이 되도록 맞춰줍니다.
View 3와 같이 다수의 자산이 명시가 되어야 하는 경우, outperforming 하는 자산의 합이 1, underperforming 하는 자산의 합이 -1, row의 총 합이 0이 되도록 값을 분배합니다.

위의 행렬 
에서 view 3는 underperforming 할 것으로 예상되는 두 자산(경기소비재, 필수소비재)에 대해 동일한 비중으로 값을 설정했습니다. 이 경우, 상대적으로 market cap이 작은 자산의 최종 포트폴리오 비중의 값이 더 많이 변하는 문제가 발생할 수 있습니다. 이러한 문제를 해결하기 위해, 
 행렬에서의 비중을 market cap과 동일(혹은 유사)하게 설정하는 방법이 있습니다.

이번 예시에서 경기소비재의 market cap(0.1315)은 필수소비재의 market cap(0.0452)의 약 3배 정도 됩니다. 이를 고려하여 
의 값을 아래와 같이 조정할 수 있습니다.

 
위에서 정의 된 
의 k번째 행(1xN row vector)을 
로 표기합시다. 이를 사용해서, 각 view를 기반으로 구성된 portfolio의 variance를 
로 구할 수 있습니다.

In [276]:
P = np.array([
    [0, 1, 0, 0, 0, 0, 0, 0, 0, 0,  0],
    [0, 0, 1, -1, 0, 0, 0, 0, 0, 0, 0],
    [0, 0, 0, 0, 1, 0, -0.33, -0.67, 0, 0, 0]
])
assert P.shape == (K, 11)

2.9. 
 : Scalar “Tuning” Constant
Prior estimate of returns(
)에 대한 불확실 정도를 나타내는 수치입니다. 
 값이 작을수록, 모델에 의해 계산되는 combined return vector(
)가 implied equilibrium return(
)에 가까워지게 됩니다.

아쉽게도, 
 값을 정하는 명확한 가이드가 없습니다. 아래는 
값으로 제시된 다양한 후보들입니다.

0.01과 0.05 사이의 값으로 최초 설정한 뒤, tracking error를 줄이는 방향으로 조정
1로 설정 (Satchell and Scowcroft, 2000)
*1/(number of observation)*으로 설정 (Blamont and Firoozye, 2003)
좋게 보면 flexible하다고 볼 수 있지만, 일관된 기준이 없다는 점은 모델을 이해하기 어렵고 애매모호하게 만듭니다.

이러한 모호함을 없애기 위하여, 이후 소개드릴 
의 값에 
를 factor-out 시킬 수 있도록 값을 설정하는 방법이 있습니다. (Idzorek, 2007) 이번 포스팅에서는 해당 방법을 사용하겠습니다. 따라서, 
에 0이 아닌 어떠한 값을 넣어도, 최종 결과(
)에는 영향을 미치지 않게 됩니다.

In [277]:
tau = 1  # 0이 아닌 임의의 값

개별 view들의 불확실 정도를 나타내는 대각행렬입니다. 행렬의 원소인 
가 0에 가까울 수록 view k의 confidence가 100%에 가깝다는 것을 의미하고, 
가 클수록 해당 view의 불확실성이 높음을 의미합니다.

 
사용자가 개별 view에 대한 confidence 정보를 가지고 있는 경우, 
의 값을 직접 입력할 수도 있지만, 이번 포스팅에서는 개별 view를 기반으로 생성된 portfolio의 variance를 이용하는 방법을 사용하겠습니다. (Confidence level of views를 기반으로 
를 정하는 방법은 본 포스팅의 이후 챕터에서 확인하실 수 있습니다.)

 
위와 같이 
를 설정할 경우, 
 값이 변해도 
 값이 변하지 않습니다. 
와 
값이 데이터를 기반으로 계산이 되므로, 매니저는 view와 관련된 input만 신경을 쓰면 됩니다.

In [278]:
Omega = tau*P.dot(sigma).dot(P.T) * np.eye(K)
Omega

# 단, 이번 포스팅에서와 같이 데이터를 기반으로 정하는 방법은 
# 모델을 사용하는 여러가지 방법 중 하나임을 인지할 필요가 있습니다. 필요시,
# 해당 값들을 변경해가며 최적의 모델 결과를 도출하면 되겠습니다.

array([[ 0.00032892,  0.        ,  0.        ],
       [ 0.        ,  0.00025005, -0.        ],
       [ 0.        , -0.        ,  0.00018899]])

### Run It (but without confidence level of views)
### 모델에 필요한 데이터들이 준비됐습니다. 이를 기반으로 다음과 같이 구할 수 있습니다.

In [279]:
ER = Pi + tau*sigma.dot(P.T).dot(inv(P.dot(tau*sigma).dot(P.T) + Omega).dot(Q - P.dot(Pi)))
... # 수식(1)을 다르게 표현한 수식으로, 동일한 결과값을 계산합니다
ER

커뮤니케이션서비스    0.004562
건설업          0.011891
중공업          0.017629
철강소재         0.002251
에너지화학        0.010204
금융           0.005207
생활소비재        0.003579
경기소비재        0.004655
정보기술         0.006083
산업재          0.007453
헬스케어         0.005741
dtype: float64

In [280]:
w_hat = inv(sigma).dot(ER)
w_hat = pd.Series(w_hat / w_hat.sum(), index=df_all.columns)
w_hat

커뮤니케이션서비스    0.003933
건설업          0.939658
중공업          2.229130
철강소재        -2.224867
에너지화학        0.829948
금융           0.005758
생활소비재       -0.269619
경기소비재       -0.547905
정보기술         0.022237
산업재          0.007951
헬스케어         0.003777
dtype: float64

In [281]:
w_hat - wheigt

커뮤니케이션서비스   -0.060431
건설업          0.927260
중공업          2.193728
철강소재        -2.259236
에너지화학        0.753847
금융          -0.088482
생활소비재       -0.314291
경기소비재       -0.630472
정보기술        -0.341710
산업재         -0.122180
헬스케어        -0.058033
dtype: float64

Outperform 할 것으로 예상되는 섹터들(IT, 통신서비스, 에너지)의 비중은 상향 조정되었고, underperform 할 것으로 예상되는 섹터들(유틸리티, 경기소비재, 필수소비재)의 비중은 하향 조정되었습니다. View에 포함된 자산 뿐만 아니라, 포함되지 않은 자산까지 비중이 전체적으로 조정된 것을 확인할 수 있습니다.

조정된 비중을 살펴보면 설명이 애매한 부분들이 있습니다. 그 중 하나가, 상대적으로 confidence level이 높은 view 1(IT = 2%)에 비해 confidence level이 낮은 view 2(통신서비스 - 유틸리티 = 3%)의 비중이 과도하게 조정이 됐다는 점입니다. 앞선 프로세스를 잘 생각해보면, 아직 각 view의 confidence level을 모델에 반영하지 않았고, 이로 인해 비중의 조정이 
의 값에 지나치게 영향을 많이 받았을 가능성이 있습니다.

In [282]:
from scipy import optimize
implied_Omega = np.zeros((K, K))
k = 0  # 본 포스팅을 line-by-line 실행하는 경우를 위하여 임시로 선언하는 iterator로,
...        # 실제 구현에서는 사용되지 않습니다

Ellipsis

In [283]:
C = np.array([0.75, 0.25, 0.50])
assert C.shape == (K,)

In [284]:
ER_k_100 = Pi + tau*sigma.dot(P[None, k].T).dot(inv(P[None, k].dot(tau * sigma).dot(P[None, k].T)).dot(Q[None, k] - P[None, k].dot(Pi)))
w_k_100 = inv(sigma).dot(ER_k_100)
w_k_100 = pd.Series(w_k_100 / w_k_100.sum(), index=df_all.columns)
w_k_100

커뮤니케이션서비스    0.001678
건설업          0.974252
중공업          0.000923
철강소재         0.000896
에너지화학        0.001984
금융           0.002457
생활소비재        0.001165
경기소비재        0.002153
정보기술         0.009489
산업재          0.003393
헬스케어         0.001611
dtype: float64

In [285]:
w_k_implied = wheigt + (w_k_100 - wheigt) * C[k]
w_k_implied

커뮤니케이션서비스    0.017349
건설업          0.733788
중공업          0.009543
철강소재         0.009264
에너지화학        0.020513
금융           0.025403
생활소비재        0.012042
경기소비재        0.022256
정보기술         0.098103
산업재          0.035077
헬스케어         0.016661
dtype: float64

In [286]:
def fun(omega_k):
    # 기존 ER을 구하는 수식에서 P를 P[None, k]로, Q를 Q[None, k]로 대체한 수식입니다.
    ER_k = Pi + tau * sigma.dot(P[None, k].T).dot(inv(P[None, k].dot(tau * sigma).dot(P[None, k].T) + omega_k).dot(Q[None, k] - P[None, k].dot(Pi)))
    
    w_k = inv(sigma).dot(ER_k)
    w_k = pd.Series(w_k / w_k.sum(), index=df_all.columns)
    
    diff = w_k_implied - w_k
    return diff.T.dot(diff)

implied_Omega[k][k] = optimize.minimize_scalar(
    fun=fun,
    bounds=(1e-8, 1e+12),
    method='bounded',
).x

In [287]:
implied_Omega

array([[0.00420421, 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ]])

In [288]:
ER_with_CL = Pi + tau * sigma.dot(P.T).dot(inv(P.dot(tau * sigma).dot(P.T) + implied_Omega).dot(Q - P.dot(Pi)))
w_hat_with_CL = inv(sigma).dot(ER_with_CL)
w_hat_with_CL = pd.Series(w_hat_with_CL / w_hat_with_CL.sum(), index=df_all.columns)
w_hat_with_CL

커뮤니케이션서비스     0.024398
건설업           0.625640
중공업          28.376791
철강소재        -28.350343
에너지화학        12.507709
금융            0.035722
생활소비재        -4.101091
경기소비재        -8.329540
정보기술          0.137958
산업재           0.049328
헬스케어          0.023429
dtype: float64

In [289]:
w_hat_with_CL
w_k_implied
wheigt

커뮤니케이션서비스    0.064364
건설업          0.012398
중공업          0.035402
철강소재         0.034369
에너지화학        0.076101
금융           0.094240
생활소비재        0.044672
경기소비재        0.082567
정보기술         0.363948
산업재          0.130131
헬스케어         0.061809
Name: 2023-11-30 00:00:00, dtype: float64

In [290]:
w_hat_with_CL

커뮤니케이션서비스     0.024398
건설업           0.625640
중공업          28.376791
철강소재        -28.350343
에너지화학        12.507709
금융            0.035722
생활소비재        -4.101091
경기소비재        -8.329540
정보기술          0.137958
산업재           0.049328
헬스케어          0.023429
dtype: float64

In [291]:
w_k_implied

커뮤니케이션서비스    0.017349
건설업          0.733788
중공업          0.009543
철강소재         0.009264
에너지화학        0.020513
금융           0.025403
생활소비재        0.012042
경기소비재        0.022256
정보기술         0.098103
산업재          0.035077
헬스케어         0.016661
dtype: float64

모델의 전체적인 프로세스를 진행하는 과정에서, 포트폴리오의 비중을 구하기 위하여 크게 다음의 두 가지 스텝을 밟았습니다.

Black-Litterman 모델을 통해 자산별 기대수익률(
)을 계산하고,
해당 기대수익률을 기반으로 mean-variance optimization을 적용하여 새로운 비중(
)을 계산했습니다.
본 포스트에서는 제약조건이 없는 mean-variance optimization(unconstrained maximization optimization process)을 가정하였습니다. (
) 만약 포트폴리오 구성 시 제약조건(보유비중, 리스크, 베타, long-only portfolio 등)이 있는 경우, 위의 (2)번 프로세스에 제약조건을 더해 mean-variance optimization을 진행하면 되겠습니다. (이 경우 closed-form solution을 구하는 방법보다는, confidence level을 반영하는 과정에서 scipy.optimize를 사용한 것과 비슷하게 numerical solution을 찾는게 효과적일 것으로 판단됩니다.)