### Federal Reserve Economic Data : fred

In [2]:
!pip install full-fred

Collecting full-fred
  Using cached full_fred-0.0.9a3-py3-none-any.whl (47 kB)
Requirement already satisfied: pandas in c:\users\jyb\anaconda3\lib\site-packages (from full-fred) (1.4.4)
Requirement already satisfied: requests in c:\users\jyb\anaconda3\lib\site-packages (from full-fred) (2.28.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\jyb\anaconda3\lib\site-packages (from pandas->full-fred) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\jyb\anaconda3\lib\site-packages (from pandas->full-fred) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\jyb\anaconda3\lib\site-packages (from pandas->full-fred) (1.21.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\jyb\anaconda3\lib\site-packages (from requests->full-fred) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\jyb\anaconda3\lib\site-packages (from requests->full-fred) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jyb\anaconda3\lib\site-packages (from requests->full-fred) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jyb\anaconda3\lib\site-packages (from requests->full-fred) (2022.9.14)
Requirement already satisfied: six>=1.5 in c:\users\jyb\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->full-fred) (1.16.0)
Installing collected packages: full-fred
Successfully installed full-fred-0.0.9a3

In [4]:
from full_fred.fred import Fred

In [7]:
import pandas_datareader.data as web
import datetime
start = datetime.datetime(2010, 1, 1)
end = datetime.datetime(2022, 12, 31)
gdp = web.DataReader('GDP', 'fred', start, end)

In [8]:
gdp.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 52 entries, 2010-01-01 to 2022-10-01
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   GDP     52 non-null     float64
dtypes: float64(1)
memory usage: 832.0 bytes

In [10]:
gdp

                  GDP
DATE
2010-01-01  14764.611
2010-04-01  14980.193
2010-07-01  15141.605
2010-10-01  15309.471
2011-01-01  15351.444
2011-04-01  15557.535
2011-07-01  15647.681
2011-10-01  15842.267
2012-01-01  16068.824
2012-04-01  16207.130
2012-07-01  16319.540
2012-10-01  16420.386
2013-01-01  16629.050
2013-04-01  16699.551
2013-07-01  16911.068
2013-10-01  17133.114
2014-01-01  17144.281
2014-04-01  17462.703
2014-07-01  17743.227
2014-10-01  17852.540
2015-01-01  17991.348
2015-04-01  18193.707
2015-07-01  18306.960
2015-10-01  18332.079
2016-01-01  18425.306
2016-04-01  18611.617
2016-07-01  18775.459
2016-10-01  18968.041
2017-01-01  19148.194
2017-04-01  19304.506
2017-07-01  19561.896
2017-10-01  19894.750
2018-01-01  20155.486
2018-04-01  20470.197
2018-07-01  20687.278
2018-10-01  20819.269
2019-01-01  21013.085
2019-04-01  21272.448
2019-07-01  21531.839
2019-10-01  21706.532
2020-01-01  21538.032
2020-04-01  19636.731
2020-07-01  21362.428
2020-10-01  21704.706
2021-01-01  22313.850
2021-04-01  23046.934
2021-07-01  23550.420
2021-10-01  24349.121
2022-01-01  24740.480
2022-04-01  25248.476
2022-07-01  25723.941
2022-10-01  26132.458

In [11]:
gdp.describe()

                GDP
count     52.000000
mean   19186.611442
std     3023.850239
min    14764.611000
25%    16681.925750
50%    18693.538000
75%    21294.943000
max    26132.458000

In [12]:
gdp.loc['2021-01-01']

GDP    22313.85
Name: 2021-01-01 00:00:00, dtype: float64

In [13]:
gdp.loc["2022-04-01"]

GDP    25248.476
Name: 2022-04-01 00:00:00, dtype: float64

In [14]:
inflation = web.DataReader(['CPIAUCSL', 'CPILFESL'], 'fred', start, end)

In [15]:
inflation

            CPIAUCSL  CPILFESL
DATE
2010-01-01   217.488   220.633
2010-02-01   217.281   220.731
2010-03-01   217.353   220.783
2010-04-01   217.403   220.822
2010-05-01   217.290   220.962
...              ...       ...
2022-08-01   295.320   296.639
2022-09-01   296.539   298.339
2022-10-01   297.987   299.333
2022-11-01   298.598   300.261
2022-12-01   298.990   301.460

[156 rows x 2 columns]

In [16]:
inflation.head()

            CPIAUCSL  CPILFESL
DATE
2010-01-01   217.488   220.633
2010-02-01   217.281   220.731
2010-03-01   217.353   220.783
2010-04-01   217.403   220.822
2010-05-01   217.290   220.962

In [17]:
from pandas_datareader import wb
matches = wb.search('gdp.*capita.*const')

In [18]:
matches

,id,name,unit,source,sourceNote,sourceOrganization,topics
716,6.0.GDPpc_constant,"GDP per capita, PPP (constant 2011 internation...",,LAC Equity Lab,GDP per capita based on purchasing power parit...,b'World Development Indicators (World Bank)',Economy & Growth
10654,NY.GDP.PCAP.KD,GDP per capita (constant 2015 US$),,World Development Indicators,GDP per capita is gross domestic product divid...,"b'World Bank national accounts data, and OECD ...",Economy & Growth
10656,NY.GDP.PCAP.KN,GDP per capita (constant LCU),,World Development Indicators,GDP per capita is gross domestic product divid...,"b'World Bank national accounts data, and OECD ...",Economy & Growth
10658,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",,World Development Indicators,GDP per capita based on purchasing power parit...,"b'International Comparison Program, World Bank...",Economy & Growth
10659,NY.GDP.PCAP.PP.KD.87,"GDP per capita, PPP (constant 1987 internation...",,WDI Database Archives,,b'',

In [19]:
dat = wb.download(indicator='NY.GDP.PCAP.KD', country=['US', 'CA', 'MX'], start=2005, end=2008)

In [20]:
dat

                    NY.GDP.PCAP.KD
country       year
Canada        2008    42063.633052
              2007    42097.435120
              2006    41646.414637
              2005    40989.526824
Mexico        2008     9276.054837
              2007     9288.162478
              2006     9200.402581
              2005     8925.236669
United States 2008    53854.160612
              2007    54299.617241
              2006    53738.091725
              2005    52789.731419

In [21]:
dat.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 12 entries, ('Canada', '2008') to ('United States', '2005')
Data columns (total 1 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   NY.GDP.PCAP.KD  12 non-null     float64
dtypes: float64(1)
memory usage: 565.0+ bytes

In [22]:
import requests
import json
data = requests.get('https://api.stlouisfed.org/fred/series?series_id=GNPCA&api_key=43be4fc471782325cab7d47238bf8962&file_type=json')

In [23]:
data.json()

{'realtime_start': '2023-02-17',
 'realtime_end': '2023-02-17',
 'seriess': [{'id': 'GNPCA',
   'realtime_start': '2023-02-17',
   'realtime_end': '2023-02-17',
   'title': 'Real Gross National Product',
   'observation_start': '1929-01-01',
   'observation_end': '2021-01-01',
   'frequency': 'Annual',
   'frequency_short': 'A',
   'units': 'Billions of Chained 2012 Dollars',
   'units_short': 'Bil. of Chn. 2012 $',
   'seasonal_adjustment': 'Not Seasonally Adjusted',
   'seasonal_adjustment_short': 'NSA',
   'last_updated': '2022-09-29 07:45:54-05',
   'popularity': 18,
   'notes': 'BEA Account Code: A001RX\n\n'}]}

In [24]:
!pip install full-fred

Requirement already satisfied: full-fred in c:\users\jyb\anaconda3\lib\site-packages (0.0.9a3)
Requirement already satisfied: pandas in c:\users\jyb\anaconda3\lib\site-packages (from full-fred) (1.4.4)
Requirement already satisfied: requests in c:\users\jyb\anaconda3\lib\site-packages (from full-fred) (2.28.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\jyb\anaconda3\lib\site-packages (from pandas->full-fred) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\jyb\anaconda3\lib\site-packages (from pandas->full-fred) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\jyb\anaconda3\lib\site-packages (from pandas->full-fred) (2022.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\jyb\anaconda3\lib\site-packages (from requests->full-fred) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jyb\anaconda3\lib\site-packages (from requests->full-fred) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\jyb\anaconda3\lib\site-packages (from requests->full-fred) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jyb\anaconda3\lib\site-packages (from requests->full-fred) (2022.9.14)
Requirement already satisfied: six>=1.5 in c:\users\jyb\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->full-fred) (1.16.0)

In [25]:
!pytest

============================= test session starts =============================
platform win32 -- Python 3.9.6, pytest-6.2.5, py-1.11.0, pluggy-1.0.0
rootdir: C:\finance_data\깃허브(k디지털)\kdigital-main
plugins: dash-1.21.0, html-3.1.1, metadata-1.11.0
collected 0 items

============================ no tests ran in 0.08s ============================

In [26]:
from full_fred.fred import Fred
fred = Fred('example_key.txt')

FileNotFoundError: Can't find example_key.txt on path

In [ ]:
fred.get_api_key_file()

In [ ]:
fred.get_series_df('GDPPOT')

In [ ]:
# 미국10년 국채수익률
import pandas_datareader as pdr
pdr.get_data_fred('GS10')